*{
    background-color: #333;
    color:#fff
}

.bar{
    justify-content: flex-start;
}
.bar .list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.bar .list li{
    width: 60px;
    height: 60px;
    margin: 1px;
}
.bar .list li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.bar .list li a .text{
    font-size: 15px;
    font-family: Arial;
    font-variant: small-caps;
}
.bar .list li a .icon{
    background: transparent;
    color: #222;
    font-size: 2em;
}

.bar .list li a:hover{
    background: rgb(72, 72, 72);
}
.bar .list li a:hover .text{
    background: rgb(72, 72, 72);
}
.bar .list li a:hover .icon svg{
    background: rgb(72, 72, 72);
}
.bar .list li.selected a{
    background: rgb(90, 90, 90);
}
.bar .list li.selected a .text{
    background: rgb(90, 90, 90);
}
.bar .list li.selected a .icon svg{
    background: rgb(90, 90, 90);
}

/* @media (max-width: 900px) {
    .list li{
        min-width: 100px;
    }

}
@media (max-width: 300px) {
    .list li{
        min-width: 50px;
    }

} */